<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=3ReuYXSlAeIG6bDXtpTceB0twgj32K57"></script>
	<title>步行导航检索</title>
</head>
<body>
	<form name="myform">
		<input type="text" name="from" id="from">
		<input type="text" name="to" id="to">
		<input type="button" name="button" value="search" onclick="search()">
	</form>

	<div id="allmap"></div>

</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	function search() {
	    var from = myform.from.value;
	    var to = myform.to.value;
	    var map = new BMap.Map("allmap");
	    map.enableScrollWheelZoom();
		map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);
		var walking = new BMap.WalkingRoute(map, {renderOptions:{map: map, autoViewport: true}});
		walking.search(from, to);
  }
</script>
